    <header role="banner" id="fh5co-header">
        <div class="container">
            <!-- <div class="row"> -->
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <!-- Mobile Toggle Menu Button -->
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                    {{ if .Site.Params.navigation.brand }}
                    <a class="navbar-brand" href="index.html">{{ with .Site.Params.navigation.brand }}{{ . | markdownify }}{{ end }}</a>
                    {{ end }}
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">

                    {{ range .Site.Menus.prepend }}
                        <li tabindex="-1"><a class="external" href="{{ .URL }}" tabindex="-1"><span tabindex="0">{{ .Name | markdownify }}</span></a></li>
                    {{ end }}

                    <li class="active"><a href="#" data-nav-section="home" tabindex="-1"><span tabindex="0">{{ with .Site.Params.navigation.home }}{{ . | markdownify }}{{ end }}</span></a></li>
                    
                    {{ if .Site.Params.work.enable }}
                    <li tabindex="-1"><a href="#" data-nav-section="work" tabindex="-1"><span tabindex="0">{{ with .Site.Params.navigation.work }}{{ . | markdownify }}{{ end }}</span></a></li> 
                    {{ end }}

                    {{ if .Site.Params.services.enable }}
                    <li tabindex="-1"><a href="#" data-nav-section="services" tabindex="-1"><span tabindex="0">{{ with .Site.Params.navigation.services }}{{ . | markdownify }}{{ end }}</span></a></li> 
                    {{ end }}

                    {{ if .Site.Params.about.enable }}
                    <li tabindex="-1"><a href="#" data-nav-section="about" tabindex="-1"><span tabindex="0">{{ with .Site.Params.navigation.about }}{{ . | markdownify }}{{ end }}</span></a></li> 
                    {{ end }}
                    
                    {{ if .Site.Params.structure.enable }}
                    <li tabindex="-1"><a href="#" data-nav-section="structure" tabindex="-1"><span tabindex="0">{{ with .Site.Params.navigation.structure }}{{ . | markdownify }}{{ end }}</span></a></li> 
                    {{ end }}

                    {{ if .Site.Params.testimonials.enable }}
                    <li tabindex="-1"><a href="#" data-nav-section="testimonials" tabindex="-1"><span tabindex="0">{{ with .Site.Params.navigation.testimonials }}{{ . | markdownify }}{{ end }}</span></a></li> 
                    {{ end }}

                    {{ if .Site.Params.contact.enable }}
                    <li><a href="#" data-nav-section="contact" tabindex="-1"><span tabindex="0">{{ with .Site.Params.navigation.contact }}{{ . | markdownify }}{{ end }}</span></a></li> 
                    {{ end }}

                    {{ range .Site.Menus.postpend }}
                        <li tabindex="-1"><a class="external" href="{{ .URL }}" tabindex="-1"><span tabindex="0">{{ .Name | markdownify }}</span></a></li>
                    {{ end }}
                </ul>
            </div>
        </nav>
        <!-- </div> -->
    </div>
</header>
