<section id="fh5co-research" data-section="research">
  <div class="container">
    <div class="col-md-12 section-heading text-center">
		  <h2>Research and RuhrM&sigma;trics</h2>
		  <div class="row">
				<div class="col-md-12 subtext" style="padding-left:0;padding-right:0">
    	    <h3>{{ with .Site.Params.research.text }}{{ . | markdownify }}{{ end }}</h3>
		    </div>
		  </div>
		</div>
        
        <h3>RuhrM&Sigma;trics &mdash; Recent Publications</h3>
        <div style="text-indent: -40px; padding-left:60px;padding-top:30px;padding-right:60px;padding-bottom:60px;color:black;">
         {{ range .Site.Params.research.paper }}  
          <h3 style="font-weight:300">{{ .author | markdownify}}. ({{ .year | markdownify}}). {{ .title | markdownify}}. <i>{{ .journal | markdownify}}</i>.</h3>
          {{ end }}
        </div>
        
        <h3>RuhrM&Sigma;trics &mdash; Research Seminar</h3>
        <div id="exTab3" class="container" style="padding-left:0px;padding-top:30px;">	
          <ul class="nav nav-tabs plans">
			      <li class="active"><a  href="#S1" data-toggle="tab">Winter 2021</a></li>
			      <li><a href="#S2" data-toggle="tab">Summer 2021</a></li>
			      <li><a href="#S3" data-toggle="tab">Winter 2020</a></li>
		      </ul>
		      
		      <div class="tab-content">
		      
		        <div class="tab-pane active" id="S1">
  		        <table class="table" style="table-layout:fixed;">
                <thead>
                  <tr style="background-color: #17408F; color:white;">
                    <th>Date and time</th>
                    <th>Title</th>
                    <th>Speaker</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range .Site.Params.research.session.S1 }}
                  <tr>
                    <td>{{ .date | markdownify}}</td>
                    <td>{{ .title | markdownify}}</td>
                    <td>{{ .speaker | markdownify}} <br>({{ .affiliation | markdownify}})</td>
                    <td>{{ .location | markdownify}}</td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
		        </div>
		        
		      <div class="tab-pane" id="S2">
		        <table class="table" style="table-layout:fixed;">
                <thead>
                  <tr style="background-color: #17408F; color:white;">
                    <th>Date and time</th>
                    <th>Title</th>
                    <th>Speaker</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range .Site.Params.research.session.S2 }}
                  <tr>
                    <td>{{ .date | markdownify}}</td>
                    <td>{{ .title | markdownify}}</td>
                    <td>{{ .speaker | markdownify}} <br>({{ .affiliation | markdownify}})</td>
                    <td>{{ .location | markdownify}}</td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
		      </div>
		      
		      <div class="tab-pane" id="S3">
		        <table class="table" style="table-layout:fixed;">
                <thead>
                  <tr style="background-color: #17408F; color:white;">
                    <th>Date and time</th>
                    <th>Title</th>
                    <th>Speaker</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range .Site.Params.research.session.S3 }}
                  <tr>
                    <td>{{ .date | markdownify}}</td>
                    <td>{{ .title | markdownify}}</td>
                    <td>{{ .speaker | markdownify}} <br>({{ .affiliation | markdownify}})</td>
                    <td>{{ .location | markdownify}}</td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
		      </div>
		      
		    </div>  
		    </div>
		  </div>
</section>
