	<section id="fh5co-services" data-section="services">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading">
					<h2 class="to-animate text-center">{{ with .Site.Params.services.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-12 subtext to-animate">
							<h3>{{ with .Site.Params.services.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			{{ range .Site.Params.services.item }}
				<div class="col-md-6 col-sm-6 fh5co-service to-animate">
					<i class="icon to-animate-2 {{ .icon | markdownify }}"></i>
					<h3>{{ .title | markdownify }}</h3>
					<p>{{ .description | markdownify }}</p>
				</div>
				<div class="clearfix visible-sm-block"></div>
			{{ end }}
			</div>
			<br>
			Please note: requirements outlined here are subject to change. Please visit the{{ with .Site.Params.services.link }}<span><a href="{{ . }}", style="color:#FFFFFF">{{ end }} faculty website</a> for specific information on admission requirements and the application process. <br><br><h3>To submit your application, click <a href='https://international.tu-dortmund.de/en/international-students/international-applicants/application/' style='color:#FFFFFF;text-decoration:underline;'>here</a>.</h3></span>
		</div>
	</section>
	