	<section id="fh5co-structure" data-section="structure">
		<div class="container">
    
    <div class="col-md-12 section-heading text-center">
		  <h2>{{ with .Site.Params.structure.title }}{{ . }}{{ end }}</h2>
		  <div class="row">
		  <div class="col-md-12 subtext">
    	  <h3>{{ with .Site.Params.structure.text }}{{ . | markdownify }}{{ end }}</h3>
    	  <h3>The current examination regulations can be found <a href="/images/{{ with .Site.Params.structure.po_en }}{{ . }}{{ end }}">here</a>. 
    	  Click <a href="/images/{{ with .Site.Params.structure.po_de }}{{ . }}{{ end }}">here</a> for viewing the German version. 
    	  </h3>
		  </div>
		  </div>
		  </div>


  <div class="col-md-12">
  <h3>
    <i>Semester plans</i>
  </h3>
  <br>
  
  <div id="exTab2" class="container" style="padding-left:0px;">	
    <ul class="nav nav-tabs plans">
			<li class="active">
        <a  href="#1" data-toggle="tab">Plan 1</a>
			</li>
			<li><a href="#2" data-toggle="tab">Plan 2</a>
			</li>
			<li><a href="#3" data-toggle="tab">Plan 3</a>
			</li>
		</ul>
			<div class="tab-content ">
			  
			  <div class="tab-pane active" id="1">
          
          <div class="banner">
            
            <div class = "term"><p>4</p></div>
            <div class = "m show" target="1"><p>ME8:<br>Master Thesis<br>30 ECTS</p></div>
            
            <div class = "term"><p>3</p></div>
            <div class = "w l show" target="6"><p>ME7:<br>Econometric Methods<br>11 - 26 ECTS</p></div>
            <div class = "w show" target="3"><p>ME6:<br>Applied Econometrics<br>11 - 26 ECTS</p></div>
            <div class = "w show" target="5"><p>ME5:<br>Economics<br>11 - 26 ECTS</p></div>
  
            <div class = "term"><p>2</p></div>
            <div class = "w l show" target="2"><p>ME4:<br> Time Series Analysis (TU)<br>10 ECTS</p></div>
            <div class = "show" target="3"><p>ME6:<br>Applied Econometrics</p></div>
            <div class = "show" target="6"><p>ME7:<br>Econometric Methods</p></div>
            <div class = "w show" target="9"><p>ME3:<br>Case Studies (TU)<br>8 ECTS</p></div>
  
            <div class = "term"><p>1</p></div>
            <div class="wider l show" target="7"><p>ME1:<br> Statistical Theory (TU)<br>15 ECTS</p></div>
            <div class = "w show" target="8"><p>ME2:<br>Econometrics (UDE)<br>9 ECTS</p></div>
            <div class = "show" target="5"><p>ME5:<br>Economics</p></div>
          
          </div>
          
				</div>
				
				<div class="tab-pane" id="2">

          <div class="banner">
            
            <div class = "term"><p>4</p></div>
            <div class = "m show" target="1"><p>ME8:<br>Master Thesis<br>30 ECTS</p></div>

            <div class = "term"><p>3</p></div>
            <div class = "w l show" target="5"><p>ME5:<br>Economics<br>11 - 26 ECTS</p></div>
            <div class = "w show" target="3"><p>ME6:<br>Applied Econometrics<br>11 - 26 ECTS</p></div>
            <div class = "w show" target="6"><p>ME7:<br>Econometric Methods<br>11 - 26 ECTS</p></div>

            <div class = "term"><p>2</p></div>
            <div class = "w l show" target="8"><p>ME2:<br>Econometrics (TU)<br>9 ECTS</p></div>
            <div class = "w show" target="9"><p>ME3:<br>Case Studies (TU)<br>8 ECTS</p></div>
            <div class = "w show" target="2"><p>ME4:<br> Time Series Analysis (TU)<br>10 ECTS</p></div>

            <div class = "term"><p>1</p></div>
            <div class="wider l show" target="7"><p>ME1:<br> Statistical Theory (TU)<br>15 ECTS</p></div>
            <div class = "show" target="5"><p>ME5:<br>Economics</p></div>
            <div class = "show" target="3"><p>ME6:<br>Applied Econometrics</p></div>
            <div class = "show" target="6"><p>ME7:<br>Econometric Methods</p></div>

          </div>

				</div>
				
        <div class="tab-pane" id="3">

          <div class="banner">
            
            <div class = "term"><p>4</p></div>
            <div class = "m show" target="1"><p>ME8:<br>Master Thesis<br>30 ECTS</p></div>

            <div class = "term"><p>3</p></div>
            <div class = "w l show" target="5"><p>ME5:<br>Economics<br>11 - 26 ECTS</p></div>
            <div class = "w show" target="3"><p>ME6:<br>Applied Econometrics<br>11 - 26 ECTS</p></div>
            <div class = "w show" target="6"><p>ME7:<br>Econometric Methods<br>11 - 26 ECTS</p></div>

            <div class = "term"><p>2</p></div>
            <div class = "w l show" target="8"><p>ME2:<br>Econometrics (TU)<br>9 ECTS</p></div>
            <div class = "show" target="3"><p>ME6:<br>Applied Econometrics</p></div>
            <div class = "show" target="6"><p>ME7:<br>Econometric Methods</p></div>
            <div class = "w show" target="2"><p>ME4:<br> Time Series Analysis (TU)<br>10 ECTS</p></div>

            <div class = "term"><p>1</p></div>
            <div class="wider l show" target="7"><p>ME1:<br> Statistical Theory (TU)<br>15 ECTS</p></div>
            <div class = "w show" target="9"><p>ME3:<br>Case Studies (TU)<br>8 ECTS</p></div>
            <div class = "show" target="5"><p>ME5:<br>Economics</p></div>


          </div>

				</div>
			</div>
  </div>
  
<div class="cont">
  <div class="sec" id="section1">
  <h3>ME8: Master Thesis</h3>
  <br>
  <p class = "text_ml">
  The master thesis demonstrates that students are able to independently apply and adapt scientific methods to an econometric problem within a given period of time. The processing time is six months. Topics for final theses are offered each semester by several university lecturers, so that students can choose between different offers. Students can also make their own suggestions for topics.</p>
  </div>
  <div class="sec" id="section2">
  <h3>ME4: Time Series Analysis</h3>
  <br>
  <p class = "text_ml">
  The course initially covers methods of descriptive time series analysis. Then, structural theory and estimation of time series models are discussed. Core topics include approximation and elimination of trends, the theory of linear filters, ‘naive’ forecasting, exponential smoothing, stationary stochastic processes, optimal linear forecasts, ARMA-processes, the autocorrelation function, model identification and parameter estimation in the time domain.
  </p>
  </div>
  <div class="sec" id="section3">
  <h3>ME6: Applied Econometrics</h3>
  <br>
  <p class = "text_ml">
  ME6 includes courses that focus on the application of advanced econometric methods to selected economic problems whereby emphasis is typically set on acquisition, processing and analysis of real data sets. In many courses, participants acquire in-depth knowledge in statistical programming.
  <ul class="tab">
	<li>Econometric Analysis of Electricity and Financial Markets</li>
	<li>Applied Time Series Analysis in Macroeconometrics</li>
	<li>Topics in Economic Policy Evaluation</li>
	<li>Microeconometrics in Health Economics</li>
	<li>Econometric Applications in Monetary Economics</li>
  </ul>
  </p>
  </div>
  <div class="sec" id="section4">
  <h3>Electives</h3>
  <p class = "text_ml">
  Participants acquire knowledge about current theoretical developments in micro- or macroeconomics, applied econometrics and econometric methods by attending selected courses from blocks <b>ME5: Economics</b>, <b>ME6: Applied Econometrics</b> and <b>ME7: Econometric Methods</b>. Focus lies on the discussion, adaptation and application of various econometric tools on the one hand and on advanced and up-to-date topics of economic interest on the other hand.
.</p>
  </div>
  <div class="sec" id="section5">
  <h3>ME5: Economics</h3>
  <br>
  <p class = "text_ml">
  Many econometric methods have been developed in line with developments in economics. Therefore, it is important for our students to be familiar with more recent theoretical developments and thus potential areas of application of econometric methods. Depending on the field of interest, the courses have a micro- or macroeconomic orientation. The curriculum covers a variety of courses from the following disciplines: 
  <ul class="tab">
	<li>Applied Macro- and Microeconomics</li>
	<li>Dynamic Macroeconomics</li>
	<li>Game Theory</li>
	<li>Health Economics</li>
	<li>Public Economics</li>
	<li>Financial Economics</li>
  </ul>
  </p>
  </div>
  <div class="sec" id="section6">
  <h3>ME7: Econometric Methods</h3>
  <br>
  <p class = "text_ml">
  Modules in ME7 have a strong methodological orientation, i.e. students have the opportunity to acquire in-depth knowledge of econometric methods in selected fields, for example:
  <ul class="tab">
	<li>Stochastic Processes</i></li>
	<li>Unit Root and Cointegration Analysis</li>
	<li>Analysis of Big Data and Machine Learning</li>
	<li>Bayesian Econometrics</li>
	<li>Multivariate Statistical Methods</li>
	<li>Advanced Microeconometrics</li>
  </ul>
  </p>
  </div>
  <div class="sec" id="section7">
  <h3>ME1: Statistical Theory</h3>
  <p>
  <p class = "text_ml">
    Participants learn to use the formal language of statistics and gain knowledge of fundamental concepts in stochastics (M1a), decision theory  (M1b) and asymptotic theory (M1c) which are required in order to analyze, apply and further develop statistical procedures.
  </p>
  </div>
  <div class="sec" id="section8">
  <h3>ME2: Econometrics</h3>
  <br>
  <p class = "text_ml">
  ME2 deals with a wide range of fundamental econometric methods. Special emphasis is placed on asymptotic results to allow for a general discussion of the statistical properties of these methods. The main focus lies on a formally precise description of the concepts. Topics include the linear regression model, the generalized linear regression model, maximum likelihood estimation and inference, asymptotic theory, endogenous regressors, instrumental variables, generalized method of moments and regression models for time series data, among others.</p>
  </div>
  <div class="sec" id="section9">
  <h3>ME3: Case Studies</h3>
  <br>
  <p class = "text_ml">
  The participants solve statistical problems in larger group projects, usually using raw economic data. They are trained in applied research and acquire skills in presenting statistical results and various interdisciplinary qualifications such as teamwork and know-how in project management, communication and consulting. Furthermore, students expand their methodological knowledge and gather experience in statistical programming.</p>
  </div>
<div class="sec" id="standarddiv">
 <h3 class="text_normal"><i>Further information on the individual course areas can be viewed by clicking in the interactive semester plan above.</i></h3>
  <br>
  <h3 class="text_normal">Please note that the semester plans presented here are for orientation only: they are intended to give you an overview over the modules and the distribution of credit points. Modules are arranged over the course of semesters in a way we consider beneficial for study progress. However, students are free to decide in which order they complete core courses and electives.
  <br><br>
  For more information on the structure and content of the individual courses, please refer to the <a href="https://www.statistik.tu-dortmund.de/fileadmin/user_upload/Studium/Studiengaenge-Infos/ModHb_Msc_ECMX_2019.pdf">module manual</a>. If you have any further questions regarding the curriculum please contact our coordinators.
  </h3>
</div>
</div>
</div>
</div>
</section>
