	<section id="fh5co-testimonials" data-section="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.testimonials.title }}{{ . | markdownify }}{{ end }}</h2>
				</div>
			</div>

			<div class="row to-animate">
			{{ range .Site.Params.testimonials.item }}
        <div data-toggle="collapse" data-target="#faq{{ .id }}" class="col-md-12" style="border-bottom: 1px solid #17408F;cursor:pointer;">
          <span class="glyphicon glyphicon-plus faq-icon" style="color:#17408F;"></span>
          <h4 style="padding-left: 1.8em"> 
            <span>{{ .question | markdownify}}</span>
          </h4>
				  <h4 class="collapse" style="padding-left: 1.8em" id="faq{{ .id }}">{{ .answer | markdownify}}</h4>
			  </div>
			{{ end }}
			</div>





		</div>
	</section>