	<section id="fh5co-work" data-section="work">
		<div class="container">
			<div class="text-center to-animate logosec">
			  <div class="logos col-md-4">
			    <img src="images/TUDortmund.png" height="50" hspace="20">
			  </div>
			  <div class="logos col-md-4">
		      <img src="images/unibochum.png" height="50" hspace="20">
			  </div>
		  	<div class="logos .col-md-4">
		      <img src="images/unidue.png" height="60" hspace="20">
			  </div>
			</div>
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.work.title }}{{ . }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.work.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
						<img src="images/UARuhrimage.jpg" height="240" class="bbs">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
						  <h3 class="to-animate">{{ with .Site.Params.work.uartitle }}{{ . | markdownify }}{{ end }}</h3>
							<h3>{{ with .Site.Params.work.uartext }}{{ . | markdownify }}{{ end }}</h3>
							<img src="images/uaruhr_map.jpg" height="320">
						</div>
					</div>
				</div>

		</div>
	</section>
