a {
  color: #17408F;
}

.logosec {
  margin-bottom: 50px;
}

.bbs {
height:240px;
margin-top: 20px;
margin-bottom: 75px;
-webkit-box-shadow: 3px 3px 16px 4px rgba(0,0,0,0.57);
-moz-box-shadow: 3px 3px 16px 4px rgba(0,0,0,0.57);
box-shadow: 3px 3px 16px 4px rgba(0,0,0,0.57);
}

.space {
margin-top: 20px;
margin-bottom: 75px;
}

#fh5co-work {
margin-top: -280px;
padding-bottom: 0;
}

#fh5co-intro .fh5co-block {
width: 50%;
height:100%;
}

#fh5co-intro {
  margin-top:0;
  padding-bottom:7em;
}

#fh5co-intro .animated {
  padding-bottom:60px;
}


#fh5co-intro .row-bottom-padded-lg {
  padding-bottom:100px;
}

#fh5co-about{
  padding-bottom:5em;
}

.section-heading .fh5co-about {
  padding-bottom:60px;
}

.section-heading {
  margin-bottom: 0px;
  padding-bottom: 70px;
}

#fh5co-contact .fh5co-contact-info li  {
  margin-bottom:0;
}

.fh5co-person {
    margin-bottom: 100px;
    height: 930px;
}

#fh5co-home, #fh5co-home .text-wrap {
  height:650px;
}

@media screen and (max-width: 1200px) {

.fh5co-person {
    margin-bottom: 3.5em;
    margin-left: 0px;
    width: 100%;
    height: 450px;
}  

.col-md-4 {
  width:100%;
}
  
}
  
@media screen and (max-width: 992px) {
  .fh5co-person {
    margin-bottom: 5em;
    margin-left: 0px;
    height: 500px;
}

  
  .imagev {
    width:340px;
    height:280px;
  }
  
  .logos {
  width: 100%;
  padding-bottom: 50px;
  }
  
  .logosec {
  margin-bottom: 0px;
  }
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 14em;
  }
  
  .logos {
    width: 100%;
    padding-bottom: 50px;
  }
  
  .logosec {
    margin-bottom: 0px;
  }
  
  .bbs {
    height:200px;
  }
  
  .space {
    height:270px;
  }
  
  .fh5co-person {
    height: 500px;
  }
  
}

@media screen and (max-width: 420px) {

  .fh5co-person {
    height: 700px;
  }
  
}

#fh5co-home .gradient {
    background-color: #17408F;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #17408F), color-stop(1, #17408F));
    background-image: -webkit-repeating-linear-gradient(top left, #17408F 0%, #17408F 100%);
    background-image: repeating-linear-gradient(to bottom right, #17408F 0%, #17408F 100%);
    background-image: -ms-repeating-linear-gradient(top left, #17408F 0%, #17408F 100%);
}

/* Sticker */

.sbadge {
  
  padding: 0;
  margin: 100;
  box-sizing: border-box;
  
  position: relative;
  display: block;
  width: 150px;
  height: 150px;
  text-align: center;
  padding-top: 30px;

  font-size: 15px;
  font-weight: 500;

  line-height: 1.2;
  
  border-radius: 50%;
  border-bottom: 1px !important;

  color: white;
  text-decoration: none;

  -webkit-filter: drop-shadow(4px 4px 4px #222222);
  filter: drop-shadow(4px 4px 4px #222222);

  -webkit-transform: rotate(20deg); 
  -moz-transform: rotate(20deg); 

  background-color: rgba(255,0,0,0.85);
  /*image:  linear-gradient(to bottom left, red, rgba(255,0,0,0.95)); */

}

.bb {
  font-size:18px;
  font-weight:bold;
}

.ilh {
  line-height:140%;
}

.sbadge:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .sbadge {
    width: 100px;
    height: 100px;
    font-size: 12px;
    line-height: 1.2;
    padding-top: 20px;
  }
  
  .bb {
    font-size:12px;
  }
}

.navbar-brand {
    padding: 0px 0px;
}

#fh5co-testimonials {
  padding-top:50px;
}

#fh5co-testimonials > div > div:nth-child(1) > div {
  padding-bottom:20px;
}

#fh5co-testimonials > div > div:nth-child(1) > div > h2 {
  text-transform: none;
}

#fh5co-testimonials h4 {
  font-weight: 300;
  line-height: 1.5;
  font-size: 20px;
  margin-bottom:16px;
}

#fh5co-testimonials em {
  font-weight: 400;
}

.faq-icon {
  position:relative;
  left: 10px;
  top: 30px;
  font-size: 15px;
}

/* tiles */

.banner { 
    height: 420px;
    display:block;
    text-align:center;
    margin: 50px 2% 5% 2%;
}

    .banner div {
      color:white;
      font-size:14px;
      float: left;
      width: calc(95% / 6 - 4px);
      height: 100px;
      margin: 2px 2px 2px 2px;
      border-radius:2px;
      text-align: center;
      display: flex;
      align-items: center;
      -webkit-transition: .4s;
    }
    
    div.banner > div {
      border: #17408F;
      background: #fff;
      border-width: thin;
      border-style: solid;
    }
    
    .banner .w {
      float: left;
      width: calc(((95%)*1/3 - 4px));
      height: 100px;
      margin: 2px 2px 2px 2px;
      border-radius:2px;
      -webkit-transition: .4s;
    }
    
    .banner .m {
      width:calc(95% - 4px);
      border-radius: 0 2px 2px 0;
      margin-left:0;
    }
    
    .banner .wider {
      width:calc(95%*3/6 - 4px);
    }
    
    .banner .term {
      width:2.5%;
      height: 100px;
      margin: 2px 0 2px 2px;
      border-radius: 5px 0 0 5px;
      background: #17408F;
      line-height: 100%;
    }
    
    .banner .l {
      margin-left:0;
      border-radius: 0 2px 2px 0;
    }
    
    /*
    .banner div:not(.term):hover {
        -webkit-transition: .2s;
        transform: scale(1.03);
            -moz-box-shadow: 2px 2px 15px #000;
            -webkit-box-shadow: 2px 2px 15px #000;
      }
    */
    
    
    @media screen and (max-width: 768px) {
      .banner {
        margin:0;
      }
      
      .banner div {
        font-size:11px;
        width: calc(95% / 6 - 2px);
        margin: 1px 1px 1px 1px;
      }
      
      .banner .w {
        width: calc(((95%)*1/3 - 2px));
        margin: 1px 1px 1px 1px;
      } 
      .banner .m {
        width:calc(95% - 2px);
      }
      .banner .wider {
        width:calc(95%*3/6 - 2px);
      }
      .banner .term {
        width:4%;
        margin: 1px 0 1px 0px;
      }
      
      .banner .l {
        margin-left:0;
      }
    }
    
    .banner p {
      padding-left:5px;
      padding-right:5px;
      font-weight: bold;
      margin-top:22px;
      color: #17408F;
    }
    
    .term p {
      text-align:center;
      vertical-align:middle;
      padding-left:10px;
      color: #ffffff;
    }
    
    .banner .orange {
        background:#d55e00;
      }
      
    .banner .red {
        background:#b50606;
        display: flex;
        align-items: center;
      }
      
      .banner .blue {
        background:#0072b2;
      }
      
      .banner .yellow {
        background:#fcd944;
      }
      
      .banner .green {
        background:#009e73;
      }
      
      .banner .purple {
        background:#572e8a;
      }
      
      .banner .white {
        background:#ffffff;
      }
      
/* description box  */

.cont {
  max-width:1400px;
  height:480px;
}


.show {
 cursor:pointer; 
}

.show-active {
  transform: scale(1.03);
            -moz-box-shadow: 2px 2px 15px #000;
            -webkit-box-shadow: 2px 2px 15px #000;
}

.section {
  padding:20px;
  border-radius: 5px 5px 5px 5px;
}

.sec {
  margin-bottom:50px;
}

@media screen and (max-width: 768px) {
  
    body {
      font-size: 19px;
    }
    
    #fh5co-services h3, #fh5co-work h3 {
      font-size: 20px !important;
    }
    
    #fh5co-structure h3 {
      font-size: 19px !important;
    }
    
    .sec, .section {
      padding:0;
    }
}

.text_ml { 
  margin:0 0 30px 40px;
  font-size:24px;
  color:black;
  font-weight: 300;
  line-height: 1.5;
}

.text_normal { 
  font-size:24px;
  color:black;
  font-weight: 300;
  line-height: 1.5;
}

.tab { 
  text-indent:40px;
  margin:0 0 10px 0;
}

ul {
  list-style:circle;
  margin:-10px 0 10px 0;
}

li {
    font-size:24px;
    color:black;
}

.plans > li {
  font-size:20px;
  color:#17408F;
}

.nav-tabs {
  border-bottom: 1px solid #17408F;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-top:1px;
    border-left:1px;
    border-right:1px;
    color:#17408F;
    border-style:solid;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration:none;
    background-color:rgba(0, 0, 0, 0);
}


#fh5co-structure {
  padding-top:50px;
  padding-bottom:10px;
}

#fh5co-structure h3 {
  padding-bottom:10px;
  margin-bottom:10px;
}

/* overlay

#overlay{
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        -moz-opacity: 0.8;
        filter: alpha(opacity=80);
        opacity:.50;
        z-index:1001;
      }
      #announcement{
        display: none;
        font-style: italic;
        position: absolute;
        width: 600px;
        height: 200px;
        padding: 40px 20px 20px 40px;
        border-radius: 10px;
        background-color: rgba(0,0,0,0.5);
        color: white;
        z-index:1002;
      }
      #close{
        display: inline;
        float: right;
        color: white;
      }

*/



