a {
  color: #17408F;
}

.logosec {
  margin-bottom: 50px;
}

#fh5co-work {
margin-top: -320px;
}

@media screen and (max-width: 992px) {
  .fh5co-person {
    margin-bottom: 3.5em;
    margin-left: 0px;
  }
  
  .logos {
  width: 100%;
  padding-bottom: 50px;
  }
  
  .logosec {
  margin-bottom: 0px;
  }
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 14em;
  }
  
  .logos {
    width: 100%;
    padding-bottom: 50px;
  }
  
  .logosec {
    margin-bottom: 0px;
  }
}

#fh5co-home .gradient {
    background-color: #17408F;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #17408F), color-stop(1, #17408F));
    background-image: -webkit-repeating-linear-gradient(top left, #17408F 0%, #17408F 100%);
    background-image: repeating-linear-gradient(to bottom right, #17408F 0%, #17408F 100%);
    background-image: -ms-repeating-linear-gradient(top left, #17408F 0%, #17408F 100%);
}

/* Sticker */

.sbadge {
  
  padding: 0;
  margin: 100;
  box-sizing: border-box;
  
  position: relative;
  display: block;
  width: 150px;
  height: 150px;
  text-align: center;
  padding-top: 30px;

  font-size: 15px;
  font-weight: 500;

  line-height: 1.2;
  
  border-radius: 50%;
  border-bottom: 1px !important;

  color: white;
  text-decoration: none;

  -webkit-filter: drop-shadow(4px 4px 4px #222222);
  filter: drop-shadow(4px 4px 4px #222222);

  -webkit-transform: rotate(20deg); 
  -moz-transform: rotate(20deg); 

  background-color: rgba(255,0,0,0.85);
  /*image:  linear-gradient(to bottom left, red, rgba(255,0,0,0.95)); */

}

.bb {
  font-size:18px;font-weight:bold;line-height:200%
}

.sbadge:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .sbadge {
    width: 100px;
    height: 100px;
    font-size: 12px;
    line-height: 1.2;
    padding-top: 20px;
  }
  
  .bb {
    font-size:12px;
  }
}

.navbar-brand {
    padding: 0px 0px;
}


