<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html {{ with .Site.LanguageCode }} lang="{{ . }}" {{ end }}>
    <head>
        {{ partial "head.html" .}}
    </head>
    <body>
    
    <!--  
    <div id="announcement">
      <p>Please note: Due to the coronavirus pandemic, the application deadline for applicants who acquired their admission relevant degree outside the EU will be extended until August 20, 2020.</p>
      <a id="close" href="#">Close</a>
    </div>
    -->
      
        {{ partial "nav.html" .}}

		{{ partial "hero.html" .}}
		
        {{ partial "intro.html" .}}

		{{ if .Site.Params.work.enable }}
       		{{ partial "work.html" .}}
       	{{ end }}

		{{ if .Site.Params.application.enable }}
        	{{ partial "application.html" .}}
		{{ end }}

		{{ if .Site.Params.about.enable }}
        	{{ partial "about.html" .}}
		{{ end }}
		
		{{ if .Site.Params.structure.enable }}
        	{{ partial "structure.html" .}}
		{{ end }}

		{{ if .Site.Params.testimonials.enable }}
        	{{ partial "testimonials.html" .}}
		{{ end }}

		{{ if .Site.Params.research.enable }}
        	{{ partial "research.html" .}}
		{{ end }}

		{{ if .Site.Params.counters.enable }}
        	{{ partial "counters.html" .}}
        {{ end }}

		{{ if .Site.Params.contact.enable }}
        	{{ partial "contact.html" .}}
        {{ end }}

        {{ if .Site.Params.footer.enable }}
        	{{ partial "footer.html" .}}
        {{ end }}

        {{ partial "js.html" .}}
    </body>
</html>